PROJECT_ROOT=/Users/mac/Documents/node-express-typeorm-boilerplate
# Port number
PORT=3001
# Server host
HOST=localhost
# Server protocol
PROTOCOL=http

SERVER_TIMEOUT =240000

KEEP_ALIVE_TIMEOUT =660000

HEADER_TIMEOUT =720000
# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST=email-server
SMTP_PORT=587
SMTP_USERNAME=email-server-username
SMTP_PASSWORD=email-server-password
EMAIL_FROM=support@yourapp.com

# otp configuration options
TWILIO_ACCOUNT_SID=twilioAccountSid
TWILIO_AUTH_TOKEN=twilioAuthToken
TWILIO_PHONE_NUMBER=twilioPhoneNumber

# jotform configuration options
JOTFORM_API_KEY=jotFormApiKey
JOTFORM_PROTOCOL=https
JOTFORM_HOST=api.jotform.com